.VisitCounter {
    display: flex;
    justify-content: center;
  }
  
  .eyeimg {
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
    filter: brightness(0) invert(1);
    background-color: transparent;
  }
  
  .counter {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00, 0 0 20px #00ff00;
    animation: neon-blink 1s ease-in-out infinite alternate;
  }
  
  .view-counter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .q1 {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
  }
   
  @media only screen and (min-width: 768px) {
    /* Increase font sizes for larger screens */
    .counter {
      font-size: 25px;
    }
    .q1 {
      font-size: 25px;
    }
  }
    
  @keyframes neon-blink {
    from {
      text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00, 0 0 20px #00ff00;
    }
    to {
      text-shadow: none;
    }
  }
  